/* Universal */

/* Elemental */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 190%;
    text-align: center;
    margin-bottom: 2%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    text-align: center;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px auto 4px auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.br {
    line-height: 2px;
}

a {
    text-decoration: none;
}
/* Main */

/* Headshot */
.headshot {
    height: 30%;
    width: 100%;
}

.headshot img {
    height: 100%;
    width: 100%;
}

/* || About Me Section */


/* Caption */
.caption {
    margin: 4%;
}

/* About Me Section */
.hashtags {
    display: flex;
    padding: 0 5% 0 5%;
    justify-content: space-around;
}

.hashtags a {
    color: lightslategray;
    font-style: italic;
    text-decoration: none;
}

.hashtags a:hover {
    text-decoration: underline;
}


/*
.hashtags a {
    text-decoration: none;
}
*/

.blurb p {
    margin: 4%;
}

/* Contact Me Div */
.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 0 15%;
    height: 20%;
    text-decoration: none;
}

.contact-me button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: white;
    background-color: orange;
    height: 45px;
    border-radius: 30px;
    border: none;
    flex-grow: 2;
}

.contact-me button:hover {
    background-color: darkorange;
}

.contact-me:active {
    padding: 2px 16%;
}

/* Experience Aside */
.experience {
    display: flex;
    padding: 0 10% 0 10%;
    align-content: center;
}

.experience-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work {
    margin: 3px;
    padding: 5%;
}

.work li {
    margin: 5% 0;
}

.education {
    margin: 3px;
    padding: 5%;
}

.education li {
    margin: 15% 0;
}

/* Socials */
.socials {
    display: flex;
    justify-content: space-around;
    height: 10%;
    padding: 5%;
}

.socials img {
    height: 45px;
    width: 45px;
    flex-grow: .025;
}

.socials img:hover {
    height: 60px;
    width: 60px;
}

.socials img:active {
    height: 65px;
    width: 65px;
}

/* Projects Pane */
.projects {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5%;
}

.projects p{
    top: -50px;
    margin: auto;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 30%;
    flex: 2;
}

.projects img{
    display:block;
    margin: auto;
    padding: 2%;
    flex-grow: 2;
    height: 45%;
    width: 45%;
}

.projects img:hover {
    height: 46%;
    width: 46%;
}

.projects img:active {
    height: 47%;
    width: 47%;
}


.projects button{
    display: block;
    flex-grow: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    height: 35px;
    width: 55%;
    border: 1px solid lightgrey;
    border-radius: 30px;
    background-color: white;
    text-decoration: none;
    margin: 1% auto 5% auto;
    align-content: center;
}

.projects button:hover{
    background-color: whitesmoke;
}

.projects button:active {
    background-color: lightgray;
}

.projects

/* IDs */

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Elemental */
    h1{
        font-size: 250%;
    }

    h2{
        font-size: 150%;
    }

    h3{
        font-size: 150%;
    }

    h4 {
        font-size: 120%;
        text-align: center;
    }

    p {
        font-size: 120%;
    }

    li {
        font-size: 120%;
        text-align: center;
    }
    
    /* Headshot */
    .headshot {
        width: 60%;
        margin: auto;
    }

    /* Resume Article */
    .hashtags {
    padding: 0 10% 0 10%;
    }

     /* Projects */
     .projects p{
        font-size: 100%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Elemental */
    h1{
        font-size: 150%;
        text-align: left;
    }

    h2{
        font-size: 100%;
        text-align: left;
    }

    h3{
        font-size: 100%;
        text-align: left;
    }

    h4 {
        font-size: 100%;
        text-align: left;
    }

    p {
        font-size: 100%;
        text-align: left;
    }

    li {
        font-size: 100%;
        text-align: left;
    }

    /* Resume Article */
    
    .headshot {
        float: left;
        height: 100%;
        width: 50%;
        height: 100%;
    }
   
    .about-me {
        float: right;
        width: 50%;
    }

    .experience {
        padding: 0;
    }

    /* Contact Me Div */
    .contact-me {
        margin: 5% 5% 0 5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Elemental */
    h1{
        font-size: 180%;
        text-align: left;
    }

    h2{
        font-size: 140%;
        text-align: left;
    }

    h3{
        font-size: 140%;
        text-align: left;
    }

    h4 {
        font-size: 110%;
        text-align: left;
    }

    p {
        font-size: 110%;
        text-align: left;
    }

    li {
        font-size: 110%;
        text-align: left;
    }

    /* Experience Aside */
    .work li {
        margin: 3% 0;
    }

    .education li {
        margin: 5% 0;
    }

    }

    /* Socials */
    .socials {
        padding: 0 5% 5% 5%;
    }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
